<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Para carregar o widget tweaks na pagina.-->
{% load widget_tweaks %}

<!--Bloco que define o titulo na pagina-->
{% block title %}Dashboard{% endblock %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block content %}

{% include 'partials/_sidebar.html' %}
<main>
    <div id="conteudo">
        <div class="container-fluid">
            <div class="container">
                
                <section class="text-center">
                    <h2>Seja bem vindo {{ request.user.full_name }}</h2>
                    <h3>Você esta setado no grupo: {{ team.name }}</h3>
                    <h4>Caso deseja mudar o seu grupo, escolha abaixo:</h4>
                    
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Grupos
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for object in request.user.team.all %}
                            <li>
                                <a class="dropdown-item" href="{% url 'core:team_select' object.pk %}">
                                    {{ object.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                
                </section>

            </div>
        </div>
    </div>

</main>

{% endblock %}