<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Bloco que define o estilos extra na pagina-->
{% block extra_style %}
<link rel="stylesheet" href="{% static '/extra/sidebar/sidebar.css' %}">
{% endblock %}

    <nav>
        <div id="sideBar" class="sidenav open">
            
            <div class="container-fluid">

                <a class="collapse-choice" data-bs-toggle="collapse" href="#collapseTeam" aria-expanded="false"
                    aria-controls="collapseTeam">
                    <h6>Grupo atual: {{ team.name }}</h6>
                </a>
                {% for object in request.user.team.all %}
                <div class="collapse" id="collapseTeam">
                    <a class="collapse-option" href="{% url 'core:team_select' object.pk %}">{{ object.name }}</a>
                </div>
                {% endfor %}
                <hr>

                <a class="collapse-choice" href="{% url 'core:dashboard' %}">Dashboard</a>
                
                <a class="collapse-choice" data-bs-toggle="collapse" href="#collapsePurchases" aria-expanded="false"
                    aria-controls="collapsePurchases">
                    Compras
                </a>
                <div class="collapse" id="collapsePurchases">
                    <a class="collapse-option" href="{% url 'core:adding_purchase' %}">Nova Compra</a>
                </div>
                <div class="collapse" id="collapsePurchases">
                    <a class="collapse-option" href="{% url 'core:listing_purchase' %}">Todas Compras</a>
                </div>
                <div class="collapse" id="collapsePurchases"><hr></div>

                <a class="collapse-choice" href="{% url 'core:logout_custom' %}">Logout</a>

            </div>
    
        </div>
    
        <button onclick="manipularNav()" class="btn shadow-none" id="buttonSideBar">
            <svg width="16" height="16">
                <use href="{% static 'bootstrap/icons/list.svg' %}#listsvg"></use>
            </svg>
        </button>
    </nav>
    
<!--Bloco que define o script extra na pagina-->
{% block extra_script %}
<script src="{% static '/extra/sidebar/sidebar.js' %}"></script>
{% endblock extra_script %}
    